.frameChild {
  height: 90px;
  width: 1440px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--w-background);
  display: none;
  max-width: 100%;
}
.button {
  align-self: stretch;
  height: 47px;
  z-index: 1;
}
.buttonWrapper {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.div {
  flex: 1;
  font-weight: 500;
  white-space: nowrap;
}
.div,
.div1,
.div2 {
  position: relative;
  z-index: 1;
}
.div1 {
  font-weight: 500;
  display: inline-block;
  min-width: 56px;
}
.div2 {
  min-width: 57px;
}
.div2,
.div3,
.div4 {
  font-weight: 500;
  display: inline-block;
}
.div3 {
  position: relative;
  min-width: 120px;
  white-space: nowrap;
  z-index: 1;
}
.div4 {
  min-width: 78px;
}
.div4,
.div5,
.frameItem {
  position: relative;
  z-index: 1;
}
.div5 {
  font-weight: 500;
  white-space: nowrap;
}
.frameItem {
  height: 3px;
  flex: 1;
  background-color: var(--color-steelblue);
}
.rectangleWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-9xs) 0 var(--padding-9xs-5);
}
.frameWrapper,
.group,
.parent,
.rectangleWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.group {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lgi);
}
.frameWrapper,
.parent {
  max-width: 100%;
}
.parent {
  width: 698px;
  flex-direction: row;
  gap: var(--gap-3xl);
}
.frameWrapper {
  width: 762px;
  flex-direction: column;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.logo1Icon {
  height: 58px;
  width: 71px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.navbar,
.navbarWrapper,
.rectangleParent {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--w-background);
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-base) var(--padding-19xl) 0 var(--padding-65xl);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-300);
  font-family: var(--font-cairo);
}
.navbar,
.navbarWrapper {
  justify-content: flex-start;
}
.navbar {
  height: 82px;
  flex: 1;
  background-color: var(--w-background);
  align-items: flex-end;
  padding: 0;
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 3;
}
.navbarWrapper {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 var(--padding-2xs);
  top: 0;
  z-index: 99;
  position: sticky;
}
@media screen and (max-width: 1050px) {
  .parent {
    display: none;
  }
  .frameWrapper {
    width: 64px;
  }
}
@media screen and (max-width: 750px) {
  .rectangleParent {
    padding-left: var(--padding-23xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .rectangleParent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
