.maskGroupChild {
  height: 257px;
  width: 257px;
  position: relative;
  border-radius: var(--br-xl);
  object-fit: cover;
  display: none;
}
.transitionTransmuter {
  height: 49px;
  flex: 1;
  box-shadow: 0-4px 8.8px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
.maskGroup {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  background-image: url(/rectangle-35@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.go {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.buttonsbutton3,
.text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonsbutton3 {
  border-radius: var(--br-5xs);
  background-color: var(--color-steelblue);
  flex-direction: column;
  padding: var(--padding-smi) 0;
}
.buttonsbutton7 {
  flex: 1;
  flex-direction: column;
}
.buttonsbutton7,
.collisionController,
.maskGroupParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.collisionController {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-40xl) 0 var(--padding-38xl-5);
}
.maskGroupParent {
  height: 325px;
  flex-direction: column;
  gap: var(--gap-lg);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--w-background);
  font-family: var(--font-cairo);
}
@media screen and (max-width: 450px) {
  .go {
    font-size: var(--font-size-base);
    line-height: 19px;
  }
  .collisionController {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
